# Dependencies
node_modules/
/frontend/node_modules/
/backend/node_modules/

# Build outputs
/frontend/build/
*.zip
deploy.zip
awscliv2.zip
BundleLogs-*.zip

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env

# Logs
logs/
*.log
npm-debug.log*
var/log/
var/

# AWS
aws/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
