option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    SecurityGroups: sg-0fdfb0d6fb1017f9a
  aws:ec2:vpc:
    VPCId: vpc-0c39c54e8e23eb4d3
    Subnets: subnet-0df180d5df3a98f66,subnet-04fc46b9388103883
    ELBSubnets: subnet-0b075f5cde76853af,subnet-02327a93619eef0b0
